
 <!-- Page Content -->
 <div class="container">
     <!-- Wizards with Progress -->
     <h2 class="content-heading">Change Your DNS Settings</h2>
     <div class="row">
         <div class="col-lg-12">
             <div class="js-wizard-simple block">
                 <!-- Step Tabs -->
                 <ul class="nav nav-tabs nav-justified">
                     <li class="active">
                         <a data-target="#progress-step1" data-toggle="tab" href="">1. Add Network</a>
                     </li>
                     <li>
                         <a data-target="#progress-step2" data-toggle="tab" href="">2. Set DNS</a>
                     </li>
                     <li>
                         <a data-target="#progress-step3" data-toggle="tab" href="">3. Create Policy</a>
                     </li>
                     <li>
                         <a data-target="#progress-step4" data-toggle="tab" href="">4. Analyze</a>
                     </li>
                 </ul>
                 <!-- END Step Tabs -->
                 <!-- Form -->
                 <form class="form-horizontal" action="#" method="post">
                     <!-- Steps Progress -->
                     <div class="block-content block-content-mini block-content-full border-b">
                         <div class="wizard-progress progress progress-mini remove-margin-b">
                             <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                         </div>
                     </div>
                     <!-- END Steps Progress -->
                     <!-- Steps Content -->
                     <div class="block-content tab-content">
                         <!-- Step 1 -->
                         <div class="tab-pane fade fade-up in push-30-t push-50 active" id="progress-step1">
                             <div class="row">
                                 <div class="col-sm-10 col-sm-offset-1">
                                    <h5>Step 1) Select Which Network to Protect</h5>
                                    <p>Before start using Dome Shield for securing your network, you must select which network(s) you want to protect. Dome Shield applies global security rules for your entire network with ease using Comodo's SecureDNS infrastructure.</p>
    								<p>You can find out your ip by typing “What's My IP” into search engines or just copy from below. Please check whether this IP is correct.</p>

                                     <h5>Step 2) Add Your Network to Trusted List</h5>
                                     <p>To add your network go to: <a ui-sref="configure.network" href="">Configure <i class="fa fa-angle-right"></i> Objects <i class="fa fa-angle-right"></i> Networks</a></p>
                                     <p>Click  Add New Network, give your Network a name and paste the IP address above. You can add as many networks as you want and create granular policies.</p>
                                     <div class="content-image push-30">
                                         <img src="assets/img/setup/add-network.jpg" alt="Add Network" />
                                     </div>
                                     <p>Click Add New Network, give your Network a name and paste the IP address above. You can add as many networks as you want and create granular policies.</p>
                                 </div>
                             </div>
                         </div>
                         <!-- END Step 1 -->
                         <!-- Step 2 -->
                         <div class="tab-pane fade fade-up push-30-t push-50" id="progress-step2">
                             <div class="row">
                                 <div class="col-sm-10 col-sm-offset-1">
                                     <h5>Step 1) How Your DNS Servers are set in your Network ?</h5>
                                     <p>Depending on your company policy, there can be various sources that can be used for setting your DNS. Easiest way to findout is to check whether you have DHCP Enabled in your computer. If that is the case, you must locate the DHCP Server which can be on a router, a firewall or some server itself, login and change the DNS addresses as in step 2.</p>
                                     <p>If that is not the case, just change your DNS server from Adapter Settings from your personal computer or from Wi-Fi Settings from your mobile phone. You can further check out instructions for your computer from <a href="https://www.comodo.com/secure-dns/switch/computer.html">https://www.comodo.com/secure-dns/switch/computer.html</a></p>
                                     
                                     <h5>Step 2) Change your DNS Settings</h5>
                                     <p>Change your DNS addresses to following Dome Shield addresses.:</p>

                                     <div class="row">
                                         <div class="col-md-5" ng-repeat="address in dnsAddresses track by $index">
                                             <div class="form-inline push-30">
                                                 <input class="form-control" type="text" disabled="disabled" value="{{address}}" style="cursor:text;">
                                             </div>                                                        
                                         </div>                                                  
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!-- END Step 2 -->
                         <!-- Step 3 -->
                         <div class="tab-pane fade fade-up push-30-t push-50" id="progress-step3">
                             <div class="row">
                                 <div class="col-sm-10 col-sm-offset-1">
                                     <h5>Step 1) The Default Policy and Profiles</h5>
                                     <p>Upon creation of your network as in Add Network Tutorial, Dome Shield automatically applies a Default Security Policy to your network blocking Malware, Phising and Spyware sources. This Default Policy can not be deleted but you can create:</p>
                                     <p>Category Rules from <a ui-sref="configure.categoryRules" href="">Configure <i class="fa fa-angle-right"></i> Category Rules <i class="fa fa-angle-right"></i> Create Category Rule</a> helps you to define rules for blocking or allowing domain categories. </p>
                                     
                                     <div class="content-image push-30">
                                         <img src="assets/img/setup/category-rules.jpg" alt="Category Rules" />
                                     </div>

                                     <p>Security Rules from <a ui-sref="configure.securityRules" href="">Configure <i class="fa fa-angle-right"></i> Security Rules <i class="fa fa-angle-right"></i> Create Security Rule</a> helps you to define security profiles. </p>

                                     <div class="content-image push-30">
                                         <img src="assets/img/setup/security-rules.jpg" alt="Security Rules" />
                                     </div>

                                     <p>B/W Lists from <a ui-sref="configure.bwLists" href="">Configure <i class="fa fa-angle-right"></i> B/W Lists <i class="fa fa-angle-right"></i> Create B/W List</a> helps you to create custom black and whitelists. </p></p>

                                     <div class="content-image push-30">
                                         <img src="assets/img/setup/bwlist.jpg" alt="B/W Lists" />
                                     </div>

                                     <h5>Step 2) Create Policy</h5>
                                     <p>Following creation of Profiles you must go to <a ui-sref="configure.policy" href="">Configure <i class="fa fa-angle-right"></i> Policy</a> and click Add Policy.</p>
                                     <p>Select the network which you want to set a policy for.</p>
                                     <p>Select a Security Rule. Dome Shield enforces you to select at least the Default Security Rule.</p>
                                     <p>Select a Category Rule. If you don't want to have a Category Rule, you can leave it empty as long as you have a Security Rule selected. </p>
                                     <p>You can add Domain B/W Lists and by clicking Enable Only B/W Mode you can disable Security and Category Rules.</p>
                                     <div class="content-image push-30">
                                         <img src="assets/img/setup/create-policy.jpg" alt="Create Policy" />
                                     </div>

                                 </div>
                             </div>
                         </div>
                         <!-- END Step 3 -->
                         <!-- Step 4 -->
                         <div class="tab-pane fade fade-up push-30-t push-50" id="progress-step4">
                             <div class="row">
                                 <div class="col-sm-10 col-sm-offset-1">                                    
                                     <h5>Understanding Overview</h5>
                                     <p>Analytics Engine of Comodo Dome Shield gives you detailed information about all your web access logs. You can find out about the what is happening in your Dome Shield protected perimeter and get insight. You can add custom widgets based on your requirements of reporting. By clicking on the graph, you can go into table view and add custom filters for further analysis.In order to see real-time logs, you can just click on the necessary graph</p>
                                     
                                     </div>
                             </div>
                         </div>
                         <!-- END Step 4 -->
                     </div>
                     <!-- END Steps Content -->
                     <!-- Steps Navigation -->
                     <div class="block-content block-content-mini block-content-full border-t">
                         <div class="row">
                             <div class="col-xs-6">
                                 <button class="wizard-prev btn btn-default" type="button"><i class="fa fa-arrow-left"></i> Previous</button>
                             </div>
                             <div class="col-xs-6 text-right">
                                 <button class="wizard-next btn btn-default" type="button">Next <i class="fa fa-arrow-right"></i></button>
                                 <button class="wizard-finish btn btn-danger" ui-sref="configure.policy"><i class="fa fa-check"></i> Finish</button>
                             </div>
                         </div>
                     </div>
                     <!-- END Steps Navigation -->
                 </form>
                 <!-- END Form -->
             </div>
             <!-- END Simple Classic Progress Wizard -->
         </div>
     </div>
     <!-- END Wizards with Progress -->
 </div>
 <!-- END Page Content -->
<script>
var BaseFormWizard = function() {
    var initWizardSimple = function(){
        jQuery('.js-wizard-simple').bootstrapWizard({
            'tabClass': '',
            'firstSelector': '.wizard-first',
            'previousSelector': '.wizard-prev',
            'nextSelector': '.wizard-next',
            'lastSelector': '.wizard-last',
            'onTabShow': function($tab, $navigation, $index) {
		var $total      = $navigation.find('li').length;
		var $current    = $index + 1;
		var $percent    = ($current/$total) * 100;

                var $wizard     = $navigation.parents('.block');
                var $progress   = $wizard.find('.wizard-progress > .progress-bar');
                var $btnPrev    = $wizard.find('.wizard-prev');
                var $btnNext    = $wizard.find('.wizard-next');
                var $btnFinish  = $wizard.find('.wizard-finish');

		if ($progress) {
                    $progress.css({ width: $percent + '%' });
                }

		if($current >= $total) {
                    $btnNext.hide();
                    $btnFinish.show();
		} else {
                    $btnNext.show();
                    $btnFinish.hide();
		}
            }
        });
    };



    return {
        init: function () {
            initWizardSimple();
        }
    };
}();

jQuery(function(){ BaseFormWizard.init(); });
</script>

