<!-- Page Content -->
<div class="content">
    <!-- Sidebar -->
  <nav id="sidebar">
      <!-- Sidebar Scroll Container -->
      <div id="sidebar-scroll">
          <!-- Sidebar Content -->
          <div class="sidebar-content">
              <!-- Side Header -->
              <div class="side-header side-content bg-white-op">
                  <div class="navbar-brand">
                      <a href=""><img src="assets/img/logo-shield.jpg" /></a>
                  </div>
              </div>
              <!-- END Side Header -->
              <!-- Side Content -->
              <div class="side-content">
                  <ul class="nav-main">
                      <li class="open">
                          <a class="open nav-submenu pointer" data-toggle="nav-submenu"><i class="fa fa-gear"></i><span class="sidebar-mini-hide">Configure</span></a>
                          <ul>
                              <li>
                                  <a ui-sref="configure.policy" ui-sref-active="active">Policy</a>
                              </li>
                              <li class="open">
                                  <a class="open nav-submenu pointer" data-toggle="nav-submenu">Policy Settings</a>
                                  <ul>
                                      <li><a ui-sref="configure.securityRules" ui-sref-active="active">Security Rules</a></li>
                                      <li><a ui-sref="configure.categoryRules" ui-sref-active="active">Category Rules</a></li>
                                      <li><a ui-sref="configure.bwLists" ui-sref-active="active">B/W Lists</a></li>
                                  </ul>
                              </li>
                              <li class="open">
                                  <a class="open nav-submenu pointer" data-toggle="nav-submenu">Objects</a>
                                  <ul>
                                      <li><a ui-sref="configure.network" ui-sref-active="active">Networks</a></li>
                                      <!--<li><a href="shield-objects-roaming-devices.html">Roaming Devices</a></li>
                                      <li><a href="shield-objects-internal-networks.html">Internal Networks</a></li>-->
                                  </ul>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <!-- END Side Content -->
          </div>
          <!-- Sidebar Content -->
      </div>
      <!-- END Sidebar Scroll Container -->
  </nav>
  <div ui-view></div>
</div>

<script>
	App.init();
</script>