<div class="block block-themed" ng-init="init()">
    <div class="block-header bg-primary-darker">
        <ul class="block-options">
            <li>
                <button type="button" data-toggle="modal" data-target="#createBWList" ng-click="toggleAction('add', {})" ng-disabled="postLoadingDeleteFlag"><i class="fa fa-plus"></i> Create B/W List</button>
            </li>
        </ul>
        <h3 class="block-title"><i class="fa fa-th-list"></i> Domain B/W Lists</h3>
    </div>
    <div class="block-content" ng-class="postLoadingDeleteFlag ? 'table-refresh' : ''">
        <table class="table table-striped list-style-table">
            <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th>Rule Name</th>
                    <th>Remark</th>
                    <th>Type</th>
                    <th class="text-center" style="width: 70px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="rules.length == 0">
                    <td colspan="100" class="noData">No Data Available</td>
                </tr>
                <tr ng-repeat="rule in rules track by $index">
                    <td class="text-center">{{$index + 1}}</td>
                    <td>{{rule.name}}</td>
                    <td>{{rule.remark}}</td>
                    <td>{{rule.list_type ? 'WhiteList' : 'BlackList'}}</td>
                    <td style="width:100px;" class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-default" type="button" data-original-title="Edit" data-toggle="modal" data-target="#createBWList" ng-click="toggleAction('update', rule)"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-xs btn-default" type="button" data-original-title="Remove" data-toggle="modal" data-target="#confirmModal" ng-click="toggleAction('delete', rule)"><i class="fa fa-trash" ></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <modal-generic templateHtml="bwLists.modal.html" ng-class="postLoadingFlag ? 'modal-refresh' : ''"> </modal-generic>
    <div>
		<modal-confirm data-message="deleteMessage" data-action = "deleteRule()"> </modal-confirm>
	</div>
</div>