<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<table bgcolor="#f1f1f1" width="100%" height="100%" align="center" style="border-collapse:collapse" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr align="center">
      <td valign="top">

        
        <table bgcolor="#f1f1f1" height="60" style="border-collapse:collapse" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr valign="middle" height="40">

          
          <td width="9"></td>

          
          <td width="217" valign="middle">
            <img src="cid:${logo}"  border="0" alt="Yahoo Accounts" style="display:block" height="40" class="CToWUd">
          </td>

          
          <td width="327" style="font-size:13px;font-family:arial,sans-serif;color:#777777;text-align:right">
            
              ${fullname}
            
          </td>

          
          <td width="10"></td>

          
          
            <td><img src="cid:${userLogo}" class="CToWUd"></td>
          

          
          <td width="10"></td>

          
          </tr>
        </tbody></table>

        
        <table border="1" style="border-collapse: separate; border-spacing: 2px;" bgcolor="#ffffff" style="text-align:left">

          
          <tbody><tr>
            <td height="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
            </td>
          </tr>

          <tr>
            
            <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
            </td>

            
            <td width="568" valign="top" style="font-size:83%;border-top:none;border-bottom:none;border-left:none;border-right:none;font-size:13px;font-family:arial,sans-serif;color:#222222;line-height:18px">
            
              Merhaba ${user},
              <br>
              <br>
            


Birisi kısa süre önce Yahoo Hesabınızda (<a href="mailto:${email}" target="_blank">${email}</a>) oturum açmaya çalışmak için şifrenizi denedi. Bu kişi, bir e-posta istemcisi veya mobil cihaz kullanıyordu. 
<br>
<br>
Hesabınıza erişmeye çalışan kişi bir saldırgan olabileceği için oturum açma girişimi engellendi. Lütfen oturum açma girişimiyle ilgili ayrıntıları gözden geçirin:


  
    <br>
    <br>
    <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="font-size:83%;font-size:13px;font-family:arial,sans-serif;color:#222222">
      <tbody><tr valign="middle">
        
        <td width="13"></td>
        <td>
          
  
    Tarih: ${date}
    <br>
    IP Adresi: ${IP} (${operatingSystem})
    <br>
    Konum: ${location}
  

        </td>
      </tr>
      
      <tr>
        <td height="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
        </td>
      </tr>
    </tbody></table>
  


<br>
<br>
 Bu oturum açma girişimi hakkında bilginiz yoksa, birisi hesabınıza erişmeye çalışmış olabilir. Hemen hesabınızda şifrenizi kontrol etmeniz önerilir. 
<br>
<br>
  
  <a href="http://${applicationServerName}/notifications/passwordCheck?auth=${auth}" style="text-align:center;font-size:11px;font-family:arial,sans-serif;color:white;font-weight:bold;border-color:#3079ed;background-color:#4d90fe;background-image:linear-gradient(top,#4d90fe,#4787ed);text-decoration:none;display:inline-block;min-height:27px;padding-left:8px;padding-right:8px;line-height:27px;border-radius:2px;border-width:1px" target="_blank">
    <span style="color:white">
       Gözden geçir 
    </span>
  </a>
<br>
<br>
 Bu kişi sizseniz ve hesabınıza erişmeyle ilgili sorun yaşıyorsanız, <a href="http://help.yahoo.com/l/us/yahoo/mail/ymail/" target="_blank">http://help.yahoo.com/l/us/yahoo/<wbr>mail/ymail/</a> sayfasında listelenen sorun giderme adımlarını tamamlayın. 


                <br>
                <br>
                 Saygılarımızla,<br> Yahoo Hesaplar ekibi 
                </td>
                
                <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
                </td>

              </tr>
              
              <tr>
                <td height="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
                </td>
              </tr>

              
              <tr>

                
                <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none"></td>

                
                <td width="568" style="font-size:11px;font-family:arial,sans-serif;color:#777777;border-top:none;border-bottom:none;border-left:none;border-right:none">
                 Bu e-postaya gönderilen yanıtlar alınmaz. Daha fazla bilgi için  <a href="http://help.yahoo.com/l/us/yahoo/mail/ymail/" style="text-decoration:none;color:#4d90fe" target="_blank"><span style="color:#4d90fe">Yahoo Hesapları Yardım Merkezi</span></a>'ni ziyaret edin. 
                </td>

                
                <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none"></td>
              </tr>
              
              
              <tr>
                <td height="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
                </td>
              </tr>
            </tbody></table>

            
            <table bgcolor="#f1f1f1" height="80" style="text-align:left">
              <tbody><tr valign="middle">

                
                <td style="font-size:11px;font-family:arial,sans-serif;color:#777777">
                   Bu zorunlu e-posta hizmet duyurusu, Yahoo ürününüzdeki veya hesabınızdaki önemli değişiklikleri bildirmek için gönderilmiştir. 
                  <br>
                  <br>
                  <div style="direction:ltr">
                  	Yahoo 701 First Avenue Sunnyvale, CA 94089, USA © ${currentYear} Yahoo Corporation. All rights reserved.                  
                  </div>
                </td>

              
              </tr>
            </tbody></table>

          </td>
        </tr>
      </tbody></table>
      <img src="http://${applicationServerName}/notifications/track?auth=${auth}&local=${local}" width="0" height="0" style="position:absolute; visibility:hidden">
</body>
</html>