<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr height="32px"></tr>
        <tr align="center">
            <td width="32px"></td>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" style="max-width:600px">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td align="left"><img width="92" height="32" src="cid:${logo}" class="CToWUd"></td>
                                            <td align="right"><img width="32" height="32" style="display:block;width:32px;min-height:32px" src="cid:${googleLock}" class="CToWUd"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr height="16"></tr>
                        <tr>
                            <td>
                                <table bgcolor="#4184F3" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#4184F3;min-width:332px;max-width:600px;border:1px solid #e0e0e0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px">
                                    <tbody>
                                        <tr>
                                            <td height="72px" colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td width="32px"></td>
                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#ffffff;line-height:1.25">${operatingSystem} cihazdan yeni oturum açma işlemi</td>
                                            <td width="32px"></td>
                                        </tr>
                                        <tr>
                                            <td height="18px" colspan="3"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#FAFAFA;min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:1px solid #c0c0c0;border-top:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px">
                                    <tbody>
                                        <tr height="16px">
                                            <td width="32px" rowspan="3"></td>
                                            <td></td>
                                            <td width="32px" rowspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="min-width:300px" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">Merhaba ${user},</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5"><a href="mailto:${email}" target="_blank">${email}</a> Google Hesabınız az önce <span style="white-space:nowrap">${operatingSystem}</span> cihazdan oturum açmak için kullanıldı.
                                                                <table border="0" cellspacing="0" cellpadding="0" style="margin-top:48px;margin-bottom:48px">
                                                                    <tbody>
                                                                        <tr valign="middle">
                                                                            <td width="32px"></td>
                                                                            <td align="center"><img src="cid:${userLogo}" width="48px" height="48px" style="width:48px;min-height:48px;display:block;border-radius:50%" class="CToWUd"></td>
                                                                            <td width="16px"></td>
                                                                            <td style="line-height:1.2"><span style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:20px;color:#202020">${fullname}</span>
                                                                                <br><span style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#727272"><a href="mailto:${email}" target="_blank">${email}</a></span></td>
                                                                        </tr>
                                                                        <tr valign="middle">
                                                                            <td width="32px" height="24px"></td>
                                                                            <td align="center" height="24px"><img src="cid:${googleSeperator}" width="4px" height="10px" style="width:4px;min-height:10px;display:block" class="CToWUd"></td>
                                                                        </tr>
                                                                        <tr valign="top">
                                                                            <td width="32px"></td>
                                                                            <td align="center"><img src="cid:${googleDevice}" width="48px" height="48px" style="width:48px;min-height:48px;display:block" class="CToWUd"></td>
                                                                            <td width="16px"></td>
                                                                            <td style="line-height:1.2"><span style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:16px;color:#202020">${operatingSystem}</span>
                                                                                <br><span style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#727272">${date} (Doğu Avrupa Yaz Saati)<br>${location}<br>${IP}</span></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table><b>Bu etkinliği hatırlamıyor musunuz?</b>
                                                                <br><a href="http://${applicationServerName}/notifications/passwordCheck?auth=${auth}" style="text-decoration:none;color:#4285f4" target="_blank">Son kullandığınız cihazları</a> şimdi inceleyin.
                                                                <br>
                                                                <br>Bunu niçin gönderiyoruz? Güvenlik oldukça ciddiye aldığımız bir konudur ve hesabınızdaki önemli işlemlerden sürekli olarak haberdar olmanızı isteriz.
                                                                <br>Daha önce hesabınızla birlikte bu tarayıcıyı veya cihazı kullanıp kullanmadığınızı belirleyemedik. Yeni bir bilgisayarda, telefonda veya tarayıcıda ilk defa oturum açtığınızda, tarayıcınızın gizli veya özel göz atma modunu kullandığınızda, çerezlerinizi temizlediğinizde ya da hesabınıza başka birisi eriştiğinde böyle bir durum meydana gelebilir.</td>
                                                        </tr>
                                                        <tr height="32px"></tr>
                                                        <tr>
                                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">Saygılarımızla,
                                                                <br>Google Hesapları ekibi</td>
                                                        </tr>
                                                        <tr height="16px"></tr>
                                                        <tr>
                                                            <td>
                                                                <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:12px;color:#b9b9b9;line-height:1.5">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>*Konum yaklaşıktır ve kaynaklandığı IP adresinden belirlenir.
                                                                                <br>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Bu e-postaya gönderilen yanıtlar alınamaz. Bu uyarıyla ilgili bize geri bildirim göndermek için <a href="https://support.google.com/accounts/contact/device_alert_feedback?hl=tr" style="text-decoration:none;color:#4285f4" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://support.google.com/accounts/contact/device_alert_feedback?hl%3Dtr&amp;source=gmail&amp;ust=1470146958939000&amp;usg=AFQjCNE0awsy6v8qtIK3ai6zbOMEQSz0TA">burayı tıklayın</a>.
                                                                                <br>Daha fazla bilgi edinmek için <a href="https://support.google.com/accounts/answer/2733203" style="text-decoration:none;color:#4285f4" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://support.google.com/accounts/answer/2733203&amp;source=gmail&amp;ust=1470146958939000&amp;usg=AFQjCNEONe60ZFuAzKyH_FRgMuH5XocGiA">Google Hesapları Yardım Merkezi</a>'ni ziyaret edin.</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr height="32px"></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr height="16"></tr>
                        <tr>
                            <td style="max-width:600px;font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#bcbcbc;line-height:1.5"></td>
                        </tr>
                        <tr>
                            <td>
                                <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#666666;line-height:18px;padding-bottom:10px">
                                    <tbody>
                                        <tr>
                                            <td>Bu zorunlu e-posta hizmet duyurusu, Google ürününüzdeki veya hesabınızdaki önemli değişiklikleri bildirmek için gönderilmiştir.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="direction:ltr;text-align:left">© ${currentYear} Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="32px"></td>
        </tr>
        <tr height="32px"></tr>
    </tbody>
</table>
<img src="http://${applicationServerName}/notifications/track?auth=${auth}&local=${local}" width="0" height="0" style="position:absolute; visibility:hidden">
</body>
</html>