extends layout

block content
  h1= title
  p Welcome to #{name}
  p First jade example, list the users
     
  ul
  each val in users
    li= val
    
  ul
  each val in userJson
    li= val
    
    
