<!-- We're using a style block to make it easy to view the custom styles -->
	<!-- In production, these should be added to a custom.css file loaded in the head -->
	<style>
	a[data-icon="update"].ui-icon-update {
	    background-image: url("./resources/images/task_edit.png") !important;
	    background-position: 4px 50%;
	    background-size: 50px 50px;
	    height: 50px;
	    margin-top: -12px !important;
	    width: 50px;
	}
	</style>