body {
  padding-top: 80px;
}

.success {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 50px;
    text-align: left;
    vertical-align: middle;
    width: 50px;
    background-image: url("../images/tick_icon.png");
	background-repeat: no-repeat;
    perspective-origin: 25px 25px;
    transform-origin: 25px 25px;
    border: 0px none rgb(51, 51, 51);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*success*/

.fail {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 50px;
    text-align: left;
    vertical-align: middle;
    width: 50px;
    background-image: url("../images/cancel.png");
	background-repeat: no-repeat;
    perspective-origin: 25px 25px;
    transform-origin: 25px 25px;
    border: 0px none rgb(51, 51, 51);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*success*/

