<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	<property name="host" value="${mail.host}" />
	<property name="port" value="${mail.port}" />
	<property name="username" value="${mail.username}" />
	<property name="password" value="${mail.password}" />
 
	<property name="javaMailProperties">
	   <props>
	   		  <prop key="mail.transport.protocol">${mail.transport.protocol}</prop>
       	      <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
       	      <prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop>
       	      <prop key="mail.debug">${mail.debug}</prop>
       	   </props>
	</property>
</bean>
 
<bean id="mailUtil" class="com.example.springwebtemplate.util.mail.MailUtil">
	<property name="mailSender" ref="mailSender" />
</bean>
 
</beans>