<!-- Create Securiy Rule Modal -->
<div id="createBWList" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-darker">
                    <ul class="block-options">
                        <li>
                            <button name="button" type="button" data-dismiss="modal"> <i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">{{action == 'add' ? 'Create' : 'Update'}} B/W List</h3>
                </div>
                <div class="block-content">
                    <form name="settingsForm">
                    	<div ng-show="action != 'add'" class="alert alert-sm alert-gray" role="alert" ng-class="displayWarning ? '' : 'hide'">
						  <button type="button" class="close" ng-click="displayWarning = false;"><span aria-hidden="true">&times;</span></button>
						  
						  Once a rule is updated all related policy/policies will be updated 
						</div>
                        <div class="block">
                            <ul class="nav nav-tabs nav-tabs-alt">
                                <li class="active">
                                    <a data-target="#bwName" data-toggle="tab" href="">Name</a>
                                </li>
                                <li>
                                    <a data-target="#bwSettings" ng-style="{'cursor' : ((selectedRule.name == '') || (settingsForm.pName.$invalid && !settingsForm.pName.$pristine) || (settingsForm.pRemark.$invalid && !settingsForm.pRemark.$pristine)) ? 'not-allowed' : 'pointer'}" data-toggle="{{(selectedRule.name == '') || (settingsForm.pName.$invalid && !settingsForm.pName.$pristine) || (settingsForm.pRemark.$invalid && !settingsForm.pRemark.$pristine) && '' || 'tab'}}">Settings</a>
                                </li>
                            </ul>
                            <div class="block-content tab-content">
                                <div class="tab-pane active" id="bwName">
                                    <div class="form-group" ng-class="{ 'has-error' : settingsForm.pName.$invalid && !settingsForm.pName.$pristine, 'has-success':settingsForm.pName.$valid }">
                                        <label for="pName">Name</label>
                                        <input type="text" autocomplete="off" class="form-control" id="pName" name="pName" placeholder="" ng-model="selectedRule.name" required ng-minlength='1' ng-maxlength="100" maxlength="100">
                                        <p ng-show="settingsForm.pName.$invalid && !settingsForm.pName.$pristine" class="help-block">This field should be between 1-100 characters.</p>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : settingsForm.pRemark.$invalid && !settingsForm.pRemark.$pristine, 'has-success':settingsForm.pRemark.$valid }">
                                        <label for="pRemark">Remark</label>
                                        <textarea autocomplete="off" class="form-control noresize" id="pRemark" name="pRemark" placeholder="" ng-model="selectedRule.remark" ng-minlength="0" ng-maxlength="250" maxlength="250"></textarea>
                                        <p ng-show="settingsForm.pRemark.$invalid && !settingsForm.pRemark.$pristine" class="help-block">This field should be between 1-250 characters.</p>
                                    </div>
                                    <div class="form-group">
	                                     <button ng-if="action == 'add' " type="button" class="btn btn-sm btn-success pull-right" id="nextButton"
	                                     	data-toggle="tab" ng-disabled="(selectedRule.name == '') || (settingsForm.pName.$invalid && !settingsForm.pName.$pristine) || (settingsForm.pRemark.$invalid && !settingsForm.pRemark.$pristine)" 
	                                     	ng-click="nextClick()">Next</button>
	                                     	
	                                     <button ng-if="action == 'update' " type="button" class="btn btn-sm btn-success pull-right"
	                                     	ng-disabled="(settingsForm.pName.$invalid && !settingsForm.pName.$pristine) || (settingsForm.pRemark.$invalid && !settingsForm.pRemark.$pristine)" 
	                                     	ng-click="saveRule()"> <i class="fa fa-refresh "></i> Update</button>
	                                 </div>
                                </div>
                                <div class="tab-pane" id="bwSettings">
                                    <div class="form-group">
                                        <label class="css-input css-radio css-radio-danger push-10-r">
                                            <input id="bwmode" name="bwmode" type="radio" ng-model="selectedRule.list_type" ng-value="true"><span></span> Whitelist
                                        </label>
                                        <label class="css-input css-radio css-radio-danger push-10-r">
                                            <input id="bwmode" name="bwmode" type="radio" ng-model="selectedRule.list_type" ng-value="false"><span></span> Blacklist
                                        </label>
                                    </div>
                                    <h4 class="font-w700 push-15">Domains</h4>
                                    <div class="scrollList">
                                        <div class="listGroup">
                                            <ul>
                                                <li ng-repeat="domain in selectedRule.domain_list track by $index" class="clearfix">{{domain}}
                                                    <a href="" class="btn btn-sm pull-right" ng-click="deleteDomain(domain)">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : selectedRule.domain_list.length == 0 || (settingsForm.domainname.$invalid && !settingsForm.domainname.$pristine), 'has-success':selectedRule.domain_list.length != 0 && settingsForm.domainname.$valid}">
                                            <div class="input-group">
                                                <input id="whiteListInput2" placeholder="Domain Name" name="domainname" ng-model="addedDomain" type="text" class="form-control input-sm input-filter" aria-label="" ng-minlength="0" ng-maxlength="253" ng-pattern="domainPattern">
                                                    <a href="#" class="input-group-addon" ng-click="addDomain($event)" ng-class="{disabled:settingsForm.domainname.$invalid && !settingsForm.domainname.$pristine}"><i class="fa fa-plus"></i></a>
                                            </div>
                                            <p ng-show="settingsForm.domainname.$invalid && !settingsForm.domainname.$pristine" class="help-block">This field should be a valid domainname.</p>
                                            <p ng-show="selectedRule.domain_list.length == 0" class="help-block">Please add at least one domain.</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    	<button type="button" class="btn btn-sm btn-success pull-right mL10" ng-click="saveRule()" ng-disabled="selectedRule.domain_list.length == 0"><i ng-class="action == 'add' ? 'fa fa-floppy-o' : 'fa fa-refresh' "></i> {{action == 'add' ? 'Create' : 'Update'}}</button>
                                	</div>
                                </div>
                            </div>
                        </div>
                </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Create Securiy Rule Modal -->
